{% extends "@octavia/layout/page.html.twig" %}
{%
  set site_slogan_attributes = create_attribute().addClass([
    'subtitle',
    'is-2',
    'is-size-3-tablet-only',
    'is-size-4-mobile',
    'has-text-centered',
    'has-padding-left-10-touch',
    'has-padding-right-10-touch',
  ])
%}
{% block navbar_element %}
{% block navbar_branding %}
{% if page.navbar_branding %}
<div class="container">
  {{ page.navbar_branding }}
</div>
{% endif %}
{% endblock navbar_branding %}
{% if page.navbar_branding or page.navbar_social or page.primary_menu %}
{# Top navbar #}
<div class="container is-flex justify-center">
  <nav class="navbar">
    <div class="container">
      <div id="js-navbar-burger" class="navbar-burger burger" data-target="navbar-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div id="js-navbar-menu" class="navbar-menu">
        {% block navbar_social %}
        {% if page.navbar_social %}
        <div class="navbar-start">
        {{ page.navbar_social }}
        </div>
        {% endif %}
        {% endblock navbar_social %}
        {% block primary_menu %}
        {% if page.primary_menu %}
        {{ page.primary_menu }}
        {% endif %}
        {% endblock primary_menu %}
      </div>
    </div>
  </nav>
</div>
{% endif %}
{% endblock navbar_element %}
