{% extends "@octavia/block/block--system-branding-block.html.twig" %}
{% block site_name %}
  {% if site_name %}
    <a class="title is-size-3-desktop is-size-4-touch has-text-white" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
  {% endif %}
{% endblock site_name %}

