{% extends "@octavia/centred/block--system-branding-block--octavia-centred.html.twig" %}
{% block site_name %}
  {% if site_name %}
  <div class="columns is-centered">
    <div class="column is-narrow has-text-centered">
      <a class="title is-size-2-desktop is-size-3-touch" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
    </div>
  </div>
  {% endif %}
{% endblock site_name %}