/* Regular */
@font-face {
    font-family: 'SimplePrint';
    src: url('../fonts/Simpleprint-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'SimplePrint';
    src: url('../fonts/Simpleprint-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
