/* Regular */
@font-face {
    font-family: 'Universalis';
    src: url('../fonts/UniversalisADFStd-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'Universalis';
    src: url('../fonts/UniversalisADFStd-Italic.otf');
    font-weight: normal;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'Universalis';
    src: url('../fonts/UniversalisADFStd-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

/* Bold Italic */
@font-face {
    font-family: 'Universalis';
    src: url('../fonts/UniversalisADFStd-BoldItalic.otf');
    font-weight: bold;
    font-style: italic;
}
