/* Regular */
@font-face {
    font-family: 'Vollkorn';
    src: url('../fonts/Vollkorn-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'Vollkorn';
    src: url('../fonts/Vollkorn-Italic.otf');
    font-weight: normal;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'Vollkorn';
    src: url('../fonts/Vollkorn-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

/* Bold Italic */
@font-face {
    font-family: 'Vollkorn';
    src: url('../fonts/Vollkorn-BoldItalic.otf');
    font-weight: bold;
    font-style: italic;
}
