// Set variables.
$body-line-height: 1.5;
$body-font-size: 1.25em;
$card-background-color: 	hsl(90, 82%, 99%);
$card-content-padding: 1rem;
$footer-background-color: hsl(90, 82%, 96%);

$size-1: 3rem;
$size-2: 2.75rem;
$size-3: 2.25rem;
$size-4: 2rem;
$size-5: 1.5rem;
$size-6: 1.25rem;
$size-7: 1rem;

$grey-darker:  #222;
$grey-dark:    #333;
$grey:         #777;
$grey-light:   #AEA79F;
$grey-lighter: #ddd;

$orange:       #d16900;
$yellow:       #d1d100;
$green:        #4C923A;
$purple:       #9A0794;
$red:          #E43A4F;
$blue:         #17a2b8;

$family-secondary: "Simpleprint", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-primary: "Universalis", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$primary: $green;
$info: $purple;

$title-color: $red;
$subtitle-color: $purple;
$title-family: $family-secondary;
$title-weight: 700;

@import 'bulma';
@import 'simpleprint_font';
@import 'universalis_font';

